@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

header {
  background: url(../img/bg.jpg);
  min-height: 700px;
  text-align: center;
}

.navbar-dark .navbar-brand {
  color: coral;
}

.navbar-dark .navbar-nav {
  margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.italick {
  text-align: center;
  font-size: 39px;
  font-style: italic;
  color: #fff;
  margin-top: 207px;
  font-family: 'droid_serifregular';
}

.bold {
  text-align: center;
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.button-yellow {
  background: #fed136;
  width: 240px;
  height: 65px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  color: white;
  line-height: 65px;
  margin-top: 60px;
}

.button-yellow:hover {
  text-decoration: none;
  color: black;
}

.services {
  text-align: center;
  padding: 125px 0 120px;
}

.services .img {
  margin-bottom: 20px;
}

.services h3 {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.pre-text {
  text-align: center;
  font-size: 17px;
  color: #929292;
  font-style: italic;
  margin-bottom: 85px;
  font-family: 'droid_serifregular';
}

.img-text {
  font-size: 14px;
  color: #929292;
  font-family: 'Roboto Slab', serif;
}

.portfolio {
  text-align: center;
  background: #f7f7f7;
  padding-top: 25px;
  padding-bottom: 120px;
}

.portfolio img {
  max-width: 100%;
}

.portfolio h3 {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 29px;
}

.portfolio .bg-white {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.08);
          box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.08);
  padding-bottom: 4px;
  margin-bottom: 50px;
}

.portfolio .portfolio-text {
  font-family: 'droid_serifitalic';
  font-size: 14px;
  color: #737373;
}

.about {
  padding-top: 125px;
}

.about .media {
  width: 60%;
  padding: 0 3px;
}

.about .media.float-right {
  padding: 0 2px;
}

.about h3 {
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.about span {
  text-transform: uppercase;
}

.about .about-title {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #777777;
}

.about .img-box {
  margin-bottom: 94px;
}

.team {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f9f9f9;
}

.team img {
  margin-bottom: 12px;
  border-radius: 50%;
}

.team .team-text {
  color: #777;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin-top: 60px;
}

.team h3 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.team .team-black-text {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.team .fa {
  font-size: 18px;
  color: #222222;
}

.team .soc-buttons a {
  margin-left: 8px;
  border-radius: 50%;
  border: solid #000 3px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 33px;
}

.brands {
  text-align: center;
}

.brands img {
  margin-right: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-us {
  background: url("../img/bg-world.png");
  padding-bottom: 46px;
  padding-top: 122px;
  text-align: center;
}

.contact-us h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: white;
}

.contact-us .contact-us-text {
  text-align: center;
  font-size: 17px;
  color: #929292;
  font-style: italic;
  margin-bottom: 85px;
  font-family: 'droid_serifregular';
}

.contact-us input.form-control {
  height: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 14px;
  color: #cacaca;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contact-us textarea.form-control {
  height: 210px;
  text-transform: uppercase;
  font-size: 14px;
  color: #cacaca;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contact-us .btn {
  background-color: #fed136;
  color: black;
  height: 65px;
  width: 240px;
  line-height: 56px;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  font-weight: bold;
}

.contact-us .btn-primary {
  border: 0;
}

.contact-us .btn:hover {
  text-decoration: none;
  background: green;
}

footer {
  padding-top: 22px;
  padding-bottom: 30px;
}

footer p {
  font-size: 15px;
  line-height: 32px;
  font-family: 'Montserrat', sans-serif;
}

footer .soc-botoons-footer {
  text-align: center;
}

footer .fa {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: solid #000;
  background: #000;
  line-height: 36px;
  color: white;
  font-size: 16px;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: #fff;
}

@media (max-width: 767.98px) {
  .about .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .about .img-box {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 20px;
  }
  .portfolio .bg-white {
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .portfolio img {
    width: 100%;
  }
  header .italick {
    font-size: 30px;
    margin-top: 150px;
  }
  header .bold {
    font-size: 50px;
  }
  header .button-yellow {
    margin-top: 135px;
  }
  .team .soc-buttons {
    margin-bottom: 20px;
  }
  .brands {
    padding: 50px 0;
  }
  .brands img {
    margin: 20px 0;
    max-width: 100%;
  }
  .contact-us {
    padding-top: 15px;
    padding-bottom: 29px;
  }
  .contact-us .contact-us-text {
    margin-bottom: 25px;
  }
  .contact-us .btn {
    margin-top: 0;
  }
}
